<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Identity Theft is Not a Joke</title>
    <link rel="stylesheet" href="/index.css" />

    <link rel="stylesheet" href="/header.css" />
    <script src="/scripts/index.js" > </script>
  </head>
  <body>
    {{> header}}

    <div class="form-container">
      <h1>Identify Yourself</h1>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="you@example.com"  />
        <label for="phone">Phone Number</label>
        <input type="tel" name="phoneNumber" id="phone" placeholder="+91 9876543210" />
        <button type="submit" id="submit-btn">Submit</button>
    </div>

    <div style="margin-top: 30px; font-weight: bold; font-size: x-large;"> OR</div>

    <div class="form-container flex flex-col gap-2" style="margin-top: 20px;">
      <div style="font-weight: 600; margin-bottom: 10px;">Call the Api</div>
      <textarea disabled id="curl-command" rows="8" style="width: 100%; resize: none;">
curl -X POST https://identity.afeefuddin.com/api/identify \
-H "Content-Type: application/json" \
-d '{"email": "dwightschrute@dundermifflin.com", "phoneNumber": "9812345682"}'
      </textarea>
      <button id="copy-btn">Copy</button>
    </div>
  </body>
</html>
