<div class="header">
    <div class="gap-2 flex flex-col items-center">
        <h1 class="bold">Identity theft is not a joke ~ <a href="https://www.youtube.com/watch?v=WaaANll8h18"  target="_blank" class="underline">Dwight</a></h1>
        <div class="gap-2 flex flex-row">
            <a href="/">
                <div style="font-size: 18;" class="underline">Identify</div>
            </a>
            <a href="/contacts">
                <div style="font-size: 18;" class="underline"> Contacts</div>
            </a>
        </div>
    </div>
</div>